<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupcakes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/cupcakes.css">
</head>
<body>
    <div class="container text-center">
        <h1 class='display-1'>Cupcakes</h1>
        <div class='container' >
            <div class='row'id='cupcake-list'>

            </div>
        </div>
        <h2 class='display-3'>Add New Cupcake</h2>
        <div class="container col-md-6 justify-content-center text-left">
            <form id='cupcake-form'>
                {{ form.hidden_tag() }}
    
                {% for field in form if field.widget.input_type != 'hidden'%}
                <div class="form-group">
                {{field.label}}
                {{field(class_="form-control")}}
                {% for err in field.errors %}
                <small class="form-text text-danger">
                    {{err}}
                </small>
                {% endfor %}
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-success btn-lg">Add</button>
            </form>
        </div>
        
        <!-- version without WTForms or Bootstrap styling:
        <form id='cupcake-form'>
            <label for="flavor">Flavor:</label>
            <input type="text" name="flavor" id="flavor" required>
            <label for="size">Size:</label>
            <input type="text" name="size" id="size" required>
            <label for="rating">Rating:</label>
            <input type="text" name="rating" id="rating" required>
            <label for="image">Photo Link:</label>
            <input type="text" name="image" id="image">
            <button type="submit">Add</button>
        </form> -->
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/static/cupcakes.js"></script>
</body>
</html>